.box{
  margin-top:  30px;
  min-height: 92px;
  border: 1px solid #dcdcdc;

}

.image{
  min-height: 92px;
  min-width: 100%;
}

.box-title{
  padding-top:    10px;
  padding-left:   10px;
  padding-right:  10px;
  padding-bottom: 40px;
  min-height:     120px;
}

.title{
  text-align: center;
  text-justify: distribute-all-lines;
  font-size: 17px;

}

.title:hover {
    color: #48a7d4;
}

.btn-lg-width{
  font-weight: 600;
  width:96%;
}

.btn-color{
    border-color: #fff;
    color: #fff;
    background-color: #48a7d4;
}

.btn-color:hover{
    border-color: #fff;
    color: gray;
    font-weight: 600;
    background-color: #48a7c4;
}